@import '~antd/dist/antd.css';

body {
  font-family: sans-serif;
  background-color: #2C2B3B;
}

.logo {
  font-size: 32px;
  color: #333;
}

.header {
  background: #f0f2f5;
}

.site-layout-backgroud {
  background-color: #fff;
  padding: 30px 50px;
  width: 1100px;
  min-height: 500px;
  text-align: center;
  margin: 20px auto;
}

.site-layout-backgroud-intro {
  background-color: #fff;
  padding: 30px 50px;
  width: 1100px;
  min-height: 500px;
  margin: 20px auto;
}

.progressBar {
  padding: 15px;
}

.progressBar div span {
  line-height: 30px;
  color: #fff;
  font-size: 14;
}

.redList .ant-list-header {
  background-color: #ff6666;
}

.blueList .ant-list-header {
  background-color: #1890ff;
}