@import '~antd/dist/antd.css';

body {
  font-family: sans-serif;
  color: #fff;
  background: #de6161;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2657eb, #de6161);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2657eb, #de6161);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.anticon {
  color: #131427
}

.ant-layout {
  background-color: #131427;
}

.logo {
  font-size: 32px;
  color: #333;
}

.header {
  background-color: #131427;
}

.site-layout-backgroud {
  background-color: #fff;
  padding: 30px 50px;
  width: 1100px;
  text-align: center;
  margin: 20px auto;
  border-radius: 10px;
}

.site-layout-backgroud-intro {
  background-color: #fff;
  padding: 30px 50px;
  width: 1100px;
  min-height: 500px;
  margin: 20px auto;
}

.progressBar {
  padding: 15px;
}

.progressBar div span {
  line-height: 30px;
  color: #fff;
  font-size: 14;
}

.redList .ant-list-header {
  background-color: #ff6666;
}

.blueList .ant-list-header {
  background-color: #1890ff;
}